@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="durum" style="display: none;"></div>
    <input type="text" id="txtMessage">
    <button id="btnGonder">Gönder</button>
    <div id="mesajlar"></div>
</div>

